#parameters {
max-width: 840px;
height: 600px;
margin: 5px auto;
}

canvas {
padding: 0 2px 2px 3px;
}

canvas#roll {
width: 227px;
height: 400px;
}

canvas#pitch {
width: 228px;
height: 400px;
}

canvas#yaw {
width: 228px;
height: 400px;
}

#graphs {
list-style: none;
}

#result {
font-size: 20px;
font-style: bold;
font-family: sans-serif;
color: black;
}

#graphs li  {
float: left;
margin: 2.5%;
width: 45%;
height: 40%;
background-color: #f5f0f0;
}
