@media screen and (min-width: 270px) {

#graphs {
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 height: 380px;
}

}

@media screen and (min-width: 744px) {

#graphs {
 display:flex;
 flex-wrap: wrap;
 flex-direction: row;
 height: 380px;
}

}

/**
 #graphs li {
width: 28.3333%;

}



#graphs li:nth-child(4n) {
clear: left;
}  **/
